body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, .13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, .13), transparent);
}

body::selection, body *::selection {
    background-color: rgba(177, 217, 255, 0.8);
}

.header {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 3rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    -webkit-text-fill-color: #0000;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient( to right, #b846ff 0, #b823e0 20%, #ff03c3 70%, #ff20c1 100% );
    font-weight: 800;
    width: fit-content;
    font-size: 1.5rem;
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

.repositories {
    display: grid;
    gap: 1rem;
    grid-gap: 1rem;
}

.part {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.part-title {
    margin: 1rem 0 2rem;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
}

@media screen and (max-width: 432px) {
    .repository {
        width: 100%;
    }

    .part {
        width: calc(100% - 2rem);
    }
}

@media screen and (min-width: 954px) {
    .repositories {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .part {
        width: 816px;
    }
}

@media screen and (min-width: 1370px) {
    .repositories {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .part {
        width: 1232px;
    }
}

.repository {
    -webkit-user-drag: none;
}

.repositories a {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 0px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(171, 171, 171, 0.5);
    min-height: 50px;
    min-width: 50px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(171, 171, 171, 1);
    min-height: 50px;
    min-width: 50px;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: none;
}